@import "../libs/reset.scss";

body{
    background-color: #000;
}

.container{
    width: 90%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;

    .center{
        width: 500px;
        height: 30%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30vh;

        .img{
            display: flex;
            justify-content: center;
            margin-bottom: 38px;
        }

        .recherche{
            width: 100%;
            height: 40px;

            .recherche2{
                width: 480px;
                height: 100%;
                border: 1px solid #333639;
                border-radius: 20px;
                display: flex;
                padding-top: 10px;
                padding-left: 15px;

                .fa{
                    color: #333639;
                    margin-right: 5px;
                }

                p{
                    font-size: 14px;
                    color: #767676;
                }
            }
        }
    }
}